  <html>
<head>
  <title>View Closet</title>
  <script src="/static/jquery-1.11.1.min.js"></script>
  <script src="/static/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/static/bootstrap.min.css">
  <link rel="stylesheet" href="/static/sitestyle.css">

  <link rel="stylesheet" type="text/css" href="static/temporarystyle.css"/>

  <img src="static/tankTop.png" id="topshortshort" class="clothing"/>
    <img src="static/shortSleeveTShirt.png" id="topshort" class="clothing"/>
    <img src="static/shortshorts.png" id="bottomshortshort" class="clothing"/>
    <img src="static/shorts.png" id="bottomshort" class="clothing"/>
    <img src="static/longSleeveTShirt.png" id="toplong" class="clothing"/>
    <img src="static/pants.png" id="bottomlong" class="clothing"/>
    <img src="static/longdress.png" id="dresslong" class="clothing"/>
    <img src="static/shortdress.png" id="dressshort" class="clothing"/>
    <img src="static/shortshortdress.png" id="dressshortshort" class="clothing"/>
    <img src="static/flower.png" id="floral" class="clothing"/>
    <img src="static/plaid.png" id="plaid" class="clothing"/>
    <img src="static/horizontalstripes.png" id="horizontalstripes" class="clothing"/>
    <img src="static/verticalstripes.png" id="verticalstripes" class="clothing"/>

  <script type="text/javascript" src="static/renderItems.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/static/font-awesome.css">


  
</head>
<body onload="renderShirtsMain()">
  {{header}}
  <div class="content-wrapper">
    <div class="container bs-docs-container">
      <h1>Closet with All Items</h1>
        {% if items == [] %}
          <h1>No items in closet. Would you like to <a href="/createItemForm">add some?</a></h1>
        {% else %}
          <form id="deleteItems" action="deleteItems">
          <input type="submit" name="submit" id="submitButton" value="Delete Selected Items">
          <br>
          <h2>Shirts</h2>
          {% for item in items %}
            {% if item.topBottom == 'top' %}
              <canvas height="300px" width="200px" name="canvas" id="{{item.hexValue}}:{{item.topBottom}}:{{item.longShort}}:{{item.pattern}}"></canvas>
              <input type="checkbox" name="checkbox" value={{item.key.id()}}>
            {% endif %}
          {% endfor %}
          <br>
          <h2>Shorts</h2>
          {% for item in items %}
            {% if item.topBottom == 'bottom' and (item.longShort == 'short' or item.longShort == 'shortshort') %}
              <canvas height="300px" width="200px" name="canvas" id="{{item.hexValue}}:{{item.topBottom}}:{{item.longShort}}:{{item.pattern}}"></canvas>
              <input type="checkbox" name="checkbox" value={{item.key.id()}}>
            {% endif %}
          {% endfor %}
          <br>
          <h2>Pants</h2>
          {% for item in items %}
            {% if item.topBottom == 'bottom' and item.longShort == 'long' %}
              <canvas height="300px" width="200px" name="canvas" id="{{item.hexValue}}:{{item.topBottom}}:{{item.longShort}}:{{item.pattern}}"></canvas>
              <input type="checkbox" name="checkbox" value={{item.key.id()}}>
            {% endif %}
          {% endfor %}
          <h2>Dresses</h2>
          {% for item in items %}
            {% if item.topBottom == 'dress' %}
              <canvas height="300px" width="200px" name="canvas" id="{{item.hexValue}}:{{item.topBottom}}:{{item.longShort}}:{{item.pattern}}"></canvas>
              <input type="checkbox" name="checkbox" value={{item.key.id()}}>
            {% endif %}
          {% endfor %}
          </form>
        {% endif %}
      </div>
    <div class="push"></div>
  </div>
  {{footer}}

</body>
</html>