<html>
<head>
  <title>View Closet</title>
  <script src="/static/jquery-1.11.1.min.js"></script>
  <script src="/static/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/static/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="static/temporarystyle.css"/>

  <img src="static/tankTop.png" id="toptank" class="clothing"/>
  <img src="static/shortSleeveTShirt.png" id="topshort" class="clothing"/>
  <img src="static/shorts.png" id="bottomshort" class="clothing"/>
  <img src="static/longSleeveTShirt.png" id="toplong" class="clothing"/>
  <img src="static/pants.png" id="bottomlong" class="clothing"/>

  <style>
    .unavailable{
      color: gray;
    }
    .available{
      color: purple;
    }
  </style>
  <script type="text/javascript" src="static/renderItems.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
</head>
<body onload="renderShirtsMain()">
  {{header}}
  <div class="container bs-docs-container">
    <div class="bs-docs-section" id="formContainer">
      <h1>Closet with All Items</h1>
      
      {% for item in items %}
        <canvas height="150px" width="100px"></canvas>
        <form>
          <input type="hidden" name="hexValue" value={{item.hexValue}}>
          <input type="hidden" name="topBottom" value={{item.topBottom}}>
          <input type="hidden" name="longShort" value={{item.topShort}}>
          <input type="hidden" name="pattern" value={{item.pattern}}>
        </form>
        {% if loop.index % 3 == 0 %}
          <br>
        {% endif %}
      {% endfor %}
      <!--<table class="table table-striped"> 
      {% for item in items %} 
        <tr>
          <td class={{ item.availability }}>
            <canvas height="150px" width="100px"></canvas>
          </td> 
        </tr> 
      {% endfor %}
      </table>-->
    </div>
  </div>

</body>
</html>